
.DS_Store
dist/
build/


backend/ml/venv/
__pycache__/
*.pyc

venv/
*/venv/
**/venv/


node_modules/


.next/
__pycache__/


frontend/.next/
frontend/node_modules/

venv/
*/venv/
**/venv/


node_modules/


.next/
__pycache__/

