body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.fire-gradient {
  background: linear-gradient(90deg, #510202, #51200f);
}
.forest-gradient {
  background: linear-gradient(90deg, #006400, #68c168);
}
.bg-fire {
  background-color: #680707ff !important;
}
